*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  font-family: sans-serif;
}

#levus-buttons {
  margin: 20px;
  text-align: center;
}

#levus-buttons span{
  cursor: pointer;
  color: maroon;
  text-transform: uppercase;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border: 1px solid maroon;
}

#levus-items {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}

@media(max-width: 776px){
  #levus-items {
    grid-template-columns: repeat(3, 1fr);
  }  
}

@media(max-width: 500px){
  #levus-items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 380px){
  #levus-items {
    grid-template-columns: 1fr;
  }
}

#levus-items>figure {
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  padding: 10px;
  background: ivory;
}

#levus-items p {
  margin: 5px 0;
  font-size: 14px;
}

#levus-items p:nth-of-type(1)::before,
#levus-items p:nth-of-type(2)::before,
#levus-items p:nth-of-type(3)::before {
  font-size: 12px;
  font-style: italic;
}

#levus-items p:nth-of-type(1)::before {
  content: 'name: ';
}
#levus-items p:nth-of-type(2)::before {
  content: 'price: ';
}
#levus-items p:nth-of-type(3)::before {
  content: 'size: ';
}